{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
  <header>
    <div class="brand">
        <img src="{% static 'images/hair-salon.png' %}" alt="Salon logo" class="brand-logo">
        <span class="brand-name">Salon Management System</span>
    </div>
    <div class="user-info">
      Welcome, Super Admin
      <form method="post" action="{% url 'logout' %}" style="display: inline; margin-left: 30px;">
        {% csrf_token %}
        <button type="submit" style="background:none; color:white; border:none; cursor:pointer;"> <img src="{% static 'images/user-logout.png' %}" alt="logout icon" style="width:20px; vertical-align: middle; margin-right: 5px;"> Logout</button>
      </form>

    </div>
  </header>

  <section class="stats">
    <div class="card">
      <img src="{% static 'images/business.jpg' %}" alt="Businesses">
      <h2>Total Businesses</h2>
      <p>{{ total_businesses }}</p>
    </div>
    <div class="card">
      <img src="{% static 'images/branch.jpg' %}" alt="Branches">
      <h2>Total Branches</h2>
      <p>{{ total_branches }}</p>
    </div>
    <div class="card">
      <img src="{% static 'images/users.jpg' %}" alt="Users">
      <h2>Users</h2>
      <p>{{ total_users }}</p>
    </div>
    <div class="card">
      <img src="{% static 'images/service.jpg' %}" alt="Services">
      <h2>Services Offered</h2>
      <p>{{ total_services }}</p>
    </div>
  </section>

  <section class="actions">
    <h2>Quick Actions</h2>
    <div class="links">
      <a href="{% url 'register-business' %}">
        <img src="{% static 'images/store.png' %}" alt="add business">
        <span>Register New Business</span>
      </a>

      <a href="#"> <img src="{% static 'images/branch.png' %}" alt="branch"> <span> View All Branches</span></a>
      <a href="#"> <img src="{% static 'images/group.png' %}" alt="users"> <span>Manage Users</span></a>
      <a href="#"> <img src="{% static 'images/page-views.png' %}" alt="add business"> <span> View All Services</span></a>
      <a href="#"> <img src="{% static 'images/gears.png' %}" alt="add business"> <span>System Settings</a>
    </div>
  </section>

  <footer>
    <p>TRICSOFT TECHNOLOGIES LTD | Salon Management System © 2025</p>
  </footer>
  
</body>
</html>
